

/* .MuiTableRow-root > * {
  padding: 10px;
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold !important;
}

.Table 
th {
  border: none !important;
  background-color:rgb(213, 213, 213);

}
.Headers th {
  color:#ffffff !important ;
  background-color:rgb(0, 0, 0);
}


.Table:first-child {
  border-radius: 0.7rem !important;
}
.status {
  padding: 8px;
  border-radius: 9px;
}

.Details {
  color: #00b5ff !important;
} */

/* @media screen and (max-width: 1200px) {
  .Table {
    width: 170%;
    margin-top: 2rem;
  }
}


@media screen and (max-width: 768px) {
  .Table{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
  }
} */


.Table {
  overflow-x: auto; /* Hace que la tabla sea desplazable horizontalmente */
  max-width: 100%; /* Ajusta el ancho máximo de la tabla según sea necesario */
}

.StickyColumn {
  position: sticky;
  left: 0;
  z-index: 1; /* Asegura que la columna fija esté por encima del resto de la tabla */
  background-color: #fff; /* Ajusta el color de fondo según sea necesario */
}
.Table 
th {
  border: none !important;
  background-color:rgb(213, 213, 213);

}
.Headers th {
  color:#ffffff !important ;
  background-color:rgb(0, 0, 0);
}
