/*ORIGINAL*/

/*:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}
*/
/*
.App {
  /* padding: 0.5rem 3.5rem; */
/*  color: var(--black);
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  background: var(--glass);
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 11rem auto 20rem;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .AppGlass{
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  } 
}

@media screen and (max-width: 768px) {
  .AppGlass{
    grid-template-columns: 1fr;
  } 
}

*/
/*ORIGINAL*/
:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #181717;
  --black: #063feb;
  ----gray: #0642f7;
  --purple: linear-gradient(180deg, #e9f0f5 0%, #161516e7 100%);
  --pink: #db0011;
  --glass: #f4f4f491; /*(209, 206, 206, 0.8)*/
  /* --blur: blur(4px) */
  --boxShadow: 0 0 10px rgba(185, 187, 189, 0.3); 
  --smboxShadow: -79px 51px 60px rgba(19, 18, 18, 0.08);  
  --activeItem: #ee87b254;
  
} 

.App {
  padding: 0.5rem 3.5rem;
  color: black;
  background: rgb(184,184,184);
background: linear-gradient(45deg, rgb(255, 255, 255) 50%, rgb(209, 4, 4) 50%);
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  
}


.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  backdrop-filter: blur(8px);
  background: var(--glass);
  border-radius: 0.3rem;
  gap: 16px;
  grid-template-columns: 11rem auto 1rem;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .AppGlass{
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
    
  } 
}

@media screen and (max-width: 768px) {
  .AppGlass{
    grid-template-columns: 1fr;
  } 
}