<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de la página</title>
</head>
<body>
    <!-- Contenido de la página -->
    <h1>Home</h1> 
    <!-- en los corchetes se agregan los contextos, un contexto es la informacion que pasamos desde la vista hasta el template -->
    <!-- para confirmar, entonces context es un diccionario, en la cual se le crea una llave nueva que contiene un valor avavvavavavav <3 -->
    <p>hola, {{nombre}} {{apellido}}</p>  
</body>
</html>